@font-face {
  font-family: 'DGM';
  src: url(/Fonts/DungGeunMo.woff);
}

body {
  background-color: lightgrey;
  padding: 0;
  margin: 0;
  font-family: 'DGM';
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: gray;
}

.container_2 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: darkgray;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 3px solid black;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header li {
  display: inline;
  padding: 0 10px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: black;
  margin-top: 10px;
}

header a:hover {
  border-bottom: 2px black solid;
}

/* showcase */
#showcase {
  min-height: 400px;
  background-image: url(/img/back_snow.jpg);
  color: white;
}

#showcase h1 {
  margin-top: 200px;
  margin-bottom: 200px;
  font-size: xx-large;
  text-align: center;
}

#showcase h2,
#showcase h3 {
  margin-left: 10px;
}

#showcase h2 a {
  color: black;
}

#showcase .container {
  margin-bottom: 10px;
}

#showcase #mountain {
  text-align: center;
  color: black;
  background-image: url(/img/mountain_black.png);
  background-size: cover;
  background-position: center top;
  transition: background-image 1s ease;
}

#showcase .anime {
  display: inline-block;
}

@keyframes colors {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

#showcase #mountain:hover {
  background-image: url(/img/mountain_color.png); /* 호버시 변경할 배경 이미지 설정 */
  animation-name: colors;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

.con_menu {
  margin: 10px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 50px);
  grid-gap: 10px;
}

.menu li {
  background-color: lightgray;
  text-align: center;
  padding: 17px;
}

.menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.menu li:hover {
  background-color: darkgray;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: darkgray;
}

caption {
  font-size: x-large;
  margin-bottom: 10px;
}

td,
th {
  padding: 10px;
  text-align: center;
  border: 1px solid gray;
}

th {
  background-color: black;
}

.link:hover {
  background-color: lightgray;
}

/* getmail */
#getmail {
  background-color: gray;
  padding: 15px;
  color: white;
}

#getmail h1 {
  float: left;
}

#getmail form {
  float: right;
  margin-top: 15px;
}

#getmail input[type='email'] {
  width: 250px;
  height: 25px;
  padding: 5px;
}

.button1 {
  height: 38px;
  background-color: lightgray;
}

/* boxes*/

#boxes {
  margin: 20px;
}

#boxes .container_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

#boxes .box {
  background-color: darkgray;
  text-align: center;
  width: 20%;
  padding: 20px;
}

#boxes .box img {
  width: 100px;
}

/* Footer */

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-size: large;
  color: white;
  background-color: gray;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  margin-left: 20px;
  margin-right: 20px;
}

footer a {
  margin-left: 10px;
}

footer img {
  width: 40px;
  height: 40px;
}

.html_box_1 {
  margin: 10px;
  background-color: white;
  color: black;
}

.html_box_2 {
  margin: 20px;
  background-color: lightgray;
  color: black;
}

.html_box_3 {
  margin: 30px;
  background-color: darkgray;
}

.html_box_4 {
  margin: 30px;
  background-color: darkgray;
  border: 10px solid black;
}

.html_box_5 {
  margin: 30px;
  background-color: darkgray;
  border: 10px solid black;
  padding: 10px;
}

object {
  width: 1200px;
  height: 600px;
}

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about img {
  margin: 20px;
  width: 200px;
  height: 200px;
}
